/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.body {
    background-image: linear-gradient(lightskyblue, rgb(0, 162, 255), rgb(0, 47, 255));
}
