<div class="view">
    <label *ngIf="!isEditing" (dblclick)="isEditing=true" [ngClass]="GetTitleClass">{{todo.title}}</label>
    <input type="text" *ngIf="isEditing" (blur)="isEditing=false" [(ngModel)]="todo.title">
    <div>
        <select [(ngModel)]="todo.status">
            <option value="Todo">Todo</option>
            <option value="Doing">Doing</option>
            <option value="Done">Done</option>
        </select>
    </div>
    <div class="float-right">
        <button type="button" (click)=deleteTodo(todo) class="btn btn-danger btn-sm">Delete</button>
        <button type="button" (click)=editDescription(todo) class="btn btn-danger btn-sm" id="greyBtn">Edit</button>
    </div>
</div>